<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
<style type="text/css">
	.container{

	}
</style>
<body>

<!-- <div ng-app="myApp" ng-controller="myCtrl"> 

<p>Today's welcome message is:</p>

<h1>{{myWelcome}}</h1>

</div> -->
<center>
<h1 style="font-family: helvetica;color:gray">LoraEvk (Line chart)</h1>
</center>
<hr>
<div class="container">
	<canvas id="myChart"></canvas>
</div>

<script>
// var app = angular.module('myApp', []);
// app.controller('myCtrl', function($scope, $http) {
//   $http.get("")
//   .then(function(response) {
//       $scope.myWelcome = response.data;
//   });
// });
</script>
<script>
	$.ajax({ 
		url:"http://filtron.pythonanywhere.com/api-view/lora-evk-sensors/",
		//url:"http://127.0.0.1:8001/api-view/lora-evk-sensors/",
		dataType:"json",
	}).done(function(result){
		console.log(result);
		var ctx = document.getElementById("myChart").getContext("2d");


		labels = []
		data_list = [] //array of objects 
		door_status = []
		gps_status = []
		latitude = []
		longitude = []
		color = ["#004456","#ff2211","#DDE5E6","#7F7979","#CDE6DE"]
		for (var i=0;i < result.length;i++)
		{
			door_status.push(result[i]["door_status"])
			gps_status.push(result[i]["gps_status"])
			latitude.push(result[i]["latitude"])
			longitude.push(result[i]["longitude"])
		}
		var k = 0
		for (var i=0;i<result.length;i++){
			if (i==color.length){
				k=0
			}
			// labels.push()
			data_list.push({label:result[i]["device_id"],
						data:[result[i]["door_status"],
						result[i]["gps_status"],
						result[i]["latitude"],
						result[i]["longitude"],
						],backgroundColor:color[k]})
			k++
		}

		console.log("List of door status")
		console.log(door_status)
		console.log(gps_status)
		console.log(latitude)
		console.log(longitude)

		console.log("final data list \n",data_list)
		var myChart = new Chart(ctx,{
			type:"line",
			data:{
				// labels:["Door status","GPS status","Lattitude","Longitude","Movement status","dopen_freq", "rel_humidity","reporting_inter","switch1 status","switch2 status","temperature"],
				labels:["Door status","GPS status","Lattitude","Longitude"],
				// datasets:[
				// 	{
				// 		label:"Device1",
				// 		data:[1,0,37.422,-120.4847]
				// 	},
				// 	{
				// 		label:"Device2",
				// 		data:[0,1,34.4847,-122.147918]
				// 	}
				// ]
				datasets:data_list
			}
		});
	});
</script>

</body>
</html>