{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create Sensor details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>

  <style type="text/css">
  	.control-label{
  		color:green;
  		font-weight: bold;
  		font-family: helvetica;
  		margin-top: 20px;
  	}
  	h1,h3{
  		text-align: center;
  	}
    #div_right{
      background-color: #E1E0DE;
      
    }
  </style>
</head>
<body>
  
<div class="container">
		<h1>Create </h2>
    <center><a target="_blank" href="/">Home</a></center>
     <center><a href="">View's home</a></center> {# Don't specify /lora-evk-sensors/ like in taget, otherwise Athentication credentials not provided etc will come #}
		<h3><span class="text-info"></span></h3>
		
		  <hr>
  		<div class="row">
  			<div class="col-md-8 col-md-offset-1">
					<form action="" method="post">{% csrf_token %}
            {{ form | crispy }}
            <input type="submit" name="create" class="btn btn-success" value="Create"/>
          </form>
          
  		  </div>
        <div class="col-md-3 text-center" id="div_right"> 
            <h4>Examples<br>(Image, latitude, longitude)</h4>

            
            <img src="http://edsiper.linuxchile.cl/blog/wp-content/uploads/2012/10/DSC_0413.jpg" width="100%"><br><br>Googleplex, 37.422, -122.084025
            <hr>
        <img src="http://core0.staticworld.net/images/article/2015/10/151027-facebook-headquarters-2-100624904-orig.jpg" width="100%"> <br><br>Facebook, 37.4847, -122.147918
        <hr>
        <img src="https://theultralinx.com/.image/t_share/MTI5MDI2MjA4ODI5NTc2NDY2/youtube-london-office-2.jpg" width="100%"><br><br> Youtube, 35.7816296, -122.6606412
        <hr>

        </div>
      </div>

     
</div>      
</div>
<br>
</body>
</html>
