<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
<style type="text/css">
	#row1 div:nth-child(even){
		/*border:1px solid black;*/
		height: 180px; 
	}
	#row1 div:nth-child(odd){
		/*border:1px solid green;*/
		height: 180px; 
	}
	h1{
		color: gray;
	}

	.h4_desc{
		
		/**/
	}

	h1,.h4_desc,.span_result{
		color: gray;
		font-family: helvetica;
		font-weight: bold;
	}

	.img_title_image{
		width:8%;
	}
	.span_result{
		color:green;
	}

	#row1{
		margin-bottom: 80px;
	}
	@media only screen and (max-width: 768px){
		h1{
			color:green;
		}
		.h4_desc{
			color:blue;
			font-size: 15px;
			font-family: helvetica;
			font-weight: bold;
		}
		.img_title_image{
			width: 5%;
		}
		#row1 div{
		margin-bottom: 150px;
		}
	}
</style>
<body>

<!-- <div ng-app="myApp" ng-controller="myCtrl"> 

<p>Today's welcome message is:</p>

<h1>{{myWelcome}}</h1>

</div> -->

<div class="container">
	<center>
	<h1>
		Line chart
	</h1>

	<h3 style="color:red">{{ error|safe }}</h3>
	<hr>
	</center>
</div>
<!-- 
	{% for item in sensors %}
	<a role="button" class="btn btn-success" target="_blank" href="/google_map/dynamic/{{ item.latitude }}/{{ item.longitude }}/">{{ item.device_loc }}</a>&nbsp;&nbsp;
	{% endfor %} 
-->

<!--Code according to the specification of Rathnakara Sir-->
<div class="container">
	<div class="row" id="row1"><!--Row1-->
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center" id="col1"><!--Row1 Column1-->
			<h4 class="h4_desc"><img src="https://cdn2.iconfinder.com/data/icons/UII_Icons/80x80/exit.png" class="img_title_image"> Door status</h4><hr>
			<span id="span_door_status" class="span_result"></span><br><br><!--id is for selection & class is for grouping-->
			<div id="div_canvas">
				<canvas id="canvas_door_status_map"></canvas>
			</div>

		</div>
		<!--Row1 Column1 ends-->

		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center" id="col2"><!--Row1 Column2-->
			<h4 class="h4_desc"> <img src="https://cdn3.iconfinder.com/data/icons/back-to-basics-2/512/frequency_histogram_chart_statistics_data-256.png" class="img_title_image"> Opening frequency</h4><hr>
			<span id="span_door_opening_frequency"  class="span_result"></span><br><br>
			<div class="div_canvas">
				<canvas id="canvas_door_opening_frequency"></canvas>
			</div>
		</div>
		<!--Row1 Column2 ends-->

		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center"><!--Row1 Column3-->
			<h4 class="h4_desc"><img src="https://cdn3.iconfinder.com/data/icons/glypho-free/64/power-button-256.png" class="img_title_image"> Switch1 status</h4><hr>
			<span id="span_switch1_status"  class="span_result"></span><br><br>
			<div class="div_canvas">
				<canvas id="canvas_switch1_status"></canvas>
			</div>
		</div>
		<!--Row1 Column3 ends-->

		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center"><!--Row1 Column4-->
			<h4 class="h4_desc"> <img src="https://cdn3.iconfinder.com/data/icons/glypho-free/64/timer-256.png" class="img_title_image"> Switch2 status</h4><hr>
			<span id="span_switch2_status"  class="span_result"></span><br><br>
			<div class="div_canvas">
				<canvas id="canvas_switch2_status"></canvas>
			</div>
		</div>
		<!--Row1 Column4 ends-->
	</div><!--Row1 ends-->

<!-- Code ends here -->


	<hr>
	<div class="row" id="row2">
		<div class="col-xs-12">
			<canvas id="myChart"></canvas>
			<br>
			<br>
			<div id="googleMap" style="width:100%;height:400px;"></div>
			</div>
	</div>
</div>

<br>
<br>
<hr>
<script>
// var app = angular.module('myApp', []);
// app.controller('myCtrl', function($scope, $http) {
//   $http.get("")
//   .then(function(response) {
//       $scope.myWelcome = response.data;
//   });
// });
</script>
<script>
	// $.ajax({
	// 	// url:"http://filtron.pythonanywhere.com/api-view/lora-evk-sensors/1/",
	// 	url:"http://127.0.0.1:8000/lora-evk-sensors/",
	// 	dataType:"json",
	// }).done(function(result){
	// 	console.log(result);
		var ctx = document.getElementById("myChart").getContext("2d");


		// labels = []
		// data_list = [] //array of objects 
		// door_status = []
		// gps_status = []
		// latitude = []
		// longitude = []

		// for (var i=0;i < result.length;i++)
		// {
		// 	door_status.push(result[i]["door_status"])
		// 	gps_status.push(result[i]["gps_status"])
		// 	latitude.push(result[i]["latitude"])
		// 	longitude.push(result[i]["longitude"])

			/*Area to add links dynamically*/
				// var a = document.createElement("a");
				// var text = document.createTextNode("View Map");
				// a.appendChild(text);
				// a.title = "map";
				// a.href="/google_map/dynamic/12.9538477/-77/"
				// a.href="/google_map/dynamic/{{ obj.latitude }}/{{ obj.longitude}}/"

				// document.body.appendChild(a)
			/*Area to add links dynamically ended*/
		// }

		// for (var i=0;i<result.length;i++){
		// 	// labels.push()
		// 	data_list.push({label:result[i]["device_id"],
		// 				data:[result[i]["door_status"],
		// 				result[i]["gps_status"],
		// 				result[i]["latitude"],
		// 				result[i]["longitude"],
		// 				]})
		// }

		// console.log("List of door status")
		// console.log(door_status)
		// console.log(gps_status)
		// console.log(latitude)
		// console.log(longitude)

		// console.log("final data list \n",data_list)
		var myChart = new Chart(ctx,{
			type:"line",
			data:{
				// labels:["Door status","GPS status","Lattitude","Longitude","Movement status","dopen_freq", "rel_humidity","reporting_inter","switch1 status","switch2 status","temperature"],
				labels:["Door status","GPS status","Lattitude","Longitude"],
				datasets:[
					{
						label:"Device1",
						// data:[1,0,37.422,-120.4847]
						data:[{{obj.door_status}}, {{obj.gps_status}},{{obj.latitude}},{{obj.longitude }}]
					}
				]
				// datasets:[1,2,3,4]

				
			}
		});

		function drawMapForDoorStatus(){
			var ctx2 = document.getElementById("canvas_door_status_map").getContext("2d");
				var myChart = new Chart(ctx2,{
				type:"bar",
				data:{
				
					labels:["Door status"],
					datasets:[
						{
							label:"Device id({{obj.device_id}})",
							// data:[1,0,37.422,-120.4847]
							data:[{{obj.door_status}}],
							backgroundColor:"rgba(250,56,78,0.5)",
						}
					]
					// datasets:[1,2,3,4]

					
				}
			});
		}
		if ({{ obj.door_status}}===1){ /*({{ obj.door_status}}==="1") -> false*/
			document.getElementById("span_door_status").innerHTML = "Opened"
			drawMapForDoorStatus()
		}else{
			if ({{ obj.door_status}}===0){
				document.getElementById("span_door_status").innerHTML = "Closed"
				drawMapForDoorStatus()
			}else{
				document.getElementById("span_door_status").innerHTML = "XXXErrorXXX"
			}	
		}

		/* Number of times, the door has been opened*/
		document.getElementById("span_door_opening_frequency").innerHTML = {{obj.no_of_times_door_opened}} +" <span style='color:darkgray'>times</span>"

		function drawMapForDoorOpeningFrequency(){
			var ctx3 = document.getElementById("canvas_door_opening_frequency").getContext("2d");
				var myChart = new Chart(ctx3,{
				type:"bar",
				data:{
				
					labels:["Door"],
					datasets:[
						{
							label:"Opening frequency",
							// data:[1,0,37.422,-120.4847]
							data:[{{obj.no_of_times_door_opened}}],
							backgroundColor:"rgba(25,156,218,0.5)",
						}
					]
					// datasets:[1,2,3,4]

					
				}
			});
		}
		drawMapForDoorOpeningFrequency();

		/* Switch1 & switch1 status*/
		if ({{obj.switch1_status}} ==1){
			document.getElementById("span_switch1_status").innerHTML = "Pressed"
		}else{
			if ({{obj.switch1_status}} ==0){
				document.getElementById("span_switch1_status").innerHTML = "Not pressed"
			}
			else{
				document.getElementById("span_switch1_status").innerHTML = "XXRestAPIErrorXX"
			}
		}

		/* Switch1 & switch2 status*/
		if ({{obj.switch2_status}} ==1){
			document.getElementById("span_switch2_status").innerHTML = "Pressed"
		}else{
			if ({{obj.switch2_status}} ==0){
				document.getElementById("span_switch2_status").innerHTML = "Not pressed"
			}
			else{
				document.getElementById("span_switch2_status").innerHTML = "XXRestAPIErrorXX"
			}
		}

		// function drawMapFor(){
		// 	var ctx3 = document.getElementById("canvas_door_opening_frequency").getContext("2d");
		// 		var myChart = new Chart(ctx3,{
		// 		type:"bar",
		// 		data:{
				
		// 			labels:["Door"],
		// 			datasets:[
		// 				{
		// 					label:"Opening frequency",
		// 					// data:[1,0,37.422,-120.4847]
		// 					data:[{{obj.no_of_times_door_opened}}],
		// 					backgroundColor:"rgba(25,156,218,0.5)",
		// 				}
		// 			]
		// 			// datasets:[1,2,3,4]

					
		// 		}
		// 	});
		// }
		// drawMapForSwitchesStatus();
	// });
</script>
<script>
function myMap() {
var mapProp= {

    center:new google.maps.LatLng({{ obj.latitude }},{{ obj.longitude }}),
    // center:new google.maps.LatLng(37.9691101,122.5864868),
    // center:new google.maps.LatLng(12.9538477,77.3507394),
    zoom:5,
};

var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
var marker = new google.maps.Marker({position:mapProp["center"]});
marker.setMap(map);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxuu4z6bKGrYSF_Lpw604s-RYwgVRQP0E&callback=myMap"></script>

<!-- <script type="text/javascript">
	$(document).ready(function(){
		$("[data-toggle='tooltip']").tooltip();
	});

</script> -->


</body>
</html>