{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Auth Users | Filtron
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'py_app/css/auth_users.css' %}">
{% endblock %}

{% block after_head %}
	<a class='btn btn-sm btn-primary' role='button' href='/pyapp/order-by-firstname/'>Order by firstname</a> &nbsp; <a class='btn btn-sm btn-success' role='button' href='/pyapp/auth-users/'>Order by registration</a></br>
	<p id='p_ordering_msg'>Current Ordering: <span id='span_ordering_msg'>{{ order }}</span></p>
{% endblock %}

{% block content %}
<table class="table table-hover">
		    <thead>
		      <tr>
		        <th>Firstname</th>
		        <th>Lastname</th>
		        <th>Email</th>
		        <th>Profile link</th>
		      </tr>
		    </thead>
		    
		    <tbody>
		    {% for user in users %}
		      <tr>
		        <td>{{user.firstname}}</td>
		        <td>{{user.lastname}}</td>
		        <td>{{user.email}}</td>
		        <td><a href="{{user.get_absolute_url }}">view profile</a></td>
		      </tr>
		    {% endfor %}
		    </tbody>
</table>
{% endblock %}


