{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Home | Filtron
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'py_app/css/home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'py_app/css/error.css' %}">
{% endblock %}

{% block content %}
<center><h4> Error</h4>
{% if dimension_err  %}
<h6>{{ dimension_err|safe }}</h6>
{% endif %}

{% if  cookie_err %} 
<h6>{{ cookie_err|safe }}</h6>
{% endif %}

<a href="/">Home</a>
</center>
</center>
{% endblock %}