<!doctype html>
<html>
<head>
<style type="text/css">
	.container {
		  width: 80%;
		  margin: 15px auto;
	}
	#h4{
		color:green;
		font-family: tahoma;
		font-weight: bold;
		text-align: center;
	}
	.span_lw{ 
		color:blue;
	}
	.span_dash{
		color:red;
	}
	.span_wh{
		color:black;
	}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"> </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<!---->
    <nav class="navbar navbar-default navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Filtron</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        
      {% url 'image_posts' as pics %}
      {% url 'auth_users' as auth_users %}
      {% url 'registration' as register %}
      {% url 'post_a_new_image' as post_a_new_image %}
      <ul class = "nav navbar-nav">
         <li {% if request.path == pics %} class = "active" {% endif %}><a href = "/pyapp/image-posts/">Pics</a></li>
         <li {% if request.path == post_a_new_image %} class = "active" {% endif %}><a href = "/pyapp/chartjs/line-charts/">Line charts</a></li>
         <li {% if request.path == post_a_new_image %} class = "active" {% endif %}><a href = "/pyapp/chartjs/bar-charts/">Bar charts</a></li>
         <li {% if request.path == polar_area_chart %} class = "active" {% endif %}><a href = "/pyapp/chartjs/polar-area-charts/">Polar area charts</a></li>
         <li {% if request.path == auth_users %} class = "active" {% endif %}><a href = "/pyapp/auth-users/">Users</a></li>
          <li {% if request.path == post_a_new_image %} class = "active" {% endif %}><a href = "/pyapp/image-posts/new/">New Post</a></li>
           <li {% if request.path == "/api/auth-users/" %} class = "active" {% endif %}><a href = "/api/auth-users/" target="_blank">API View</a></li>
        <li {% if request.path == "api/angularjs/users/" %} class = "active" {% endif %}><a href = "/api/angularjs/users/" target="_blank">Angular API View</a></li>
        <li {% if request.path == "/math-students/" %} class = "active" {% endif %}><a href = "/math-students/" target="_blank">Math Pie chart</a></li>

        {% url 'registration' as registration %}
        
        {% if signup_url %}
        <li {% if request.path == registration %} class = "active" {% endif %}><a href = "/pyapp/register/"><span class="glyphicon glyphicon-user"></span> {{ signup_url }}</a></li>
        {% endif %}
         
      </ul>
        <ul class="nav navbar-nav navbar-right">
        <!--Registration URL-->

        <!--Login URL-->
        {% url 'login' as login %}
        {% if login_url %}
        <li {% if request.path == login %} class = "active" {% endif %}><a href = "/pyapp/register/"><span class="glyphicon glyphicon-log-in"></span> {{ login_url }}</a></li>
        {% endif %}

        <!--Logout URL-->
        {% url 'logout' as logout %}
        {% if logout_url %}
        <li {% if request.path == logout %} class = "active" {% endif %}><a href = "/pyapp/register/"><span class="glyphicon glyphicon-log-out"></span>  {{ logout_url }}</a></li>
        
        {% endif %}
      </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<!---->


<div class="container">
<!--Line chart for bus rents-->
  <h4 id="h4">Line chart <span class="span_dash">- </span>Bus rent details, <span class='span_wh'>while coming to office</span><span class='span_lw'> (Lask week)</span></h4>
  <br>
  <div>
   <canvas id="myChart"></canvas>
  </div>
  <hr>
  <!--Line chart for programming stuffs-->
  <h4 id="h4">Line chart <span class="span_dash">- </span> <span class='span_wh'>Programs written,</span>in each day (<span class='span_lw'> Lask week </span>by<span class="span_coder"> Hilary Jons</span>)</h4>
  <br>
  <div>
   <canvas id="myChart2"></canvas>
  </div>
</div>
<script type="text/javascript">
<!--
	var ctx = document.getElementById('myChart').getContext('2d');
	var myChart = new Chart(ctx, {
	  type: 'line',
	  data: {
	    labels: ['Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun'],
	    datasets: [{
	     label: 'Rishikesh',
	     data: [14,10,14,12,10,14,10],//[12, 19, 3, 17, 6, 3, 7],
	     backgroundColor: "rgba(0,0,255,0.5)"//"rgba(153,255,51,0.6)"
	    }, {
	      label: 'Darshan',
	      data: [10,14,12,10,12,14,14],//[2, 29, 5, 5, 2, 3, 10],
	      backgroundColor: "rgba(255,0,0,0.6)"//"rgba(255,153,0,0.6)"
	    },{
	    	label:"Mukund",
	    	data:[18,15,15,18,15,18,15],
	    	backgroundColor:"rgba(0,0,255,0.5)"
	    }
	    ]
	  }
	});
//-->
</script>
<script type="text/javascript">
	var ctx = document.getElementById('myChart2').getContext('2d');
	var myChart = new Chart(ctx, {
	  type: 'line',
	  data: {
	    labels: ['Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun'],
	    datasets: [{
	     label: 'C',
	     data: [4,2,3,1,5,3,4],//[12, 19, 3, 17, 6, 3, 7],
	     backgroundColor: "rgba(0,0,255,0.5)"//"rgba(153,255,51,0.6)"
	    }, {
	      label: 'C++',
	      data: [3,2,5,1,2,4,2],//[2, 29, 5, 5, 2, 3, 10],
	      backgroundColor: "rgba(255,0,0,0.5)"//"rgba(255,153,0,0.6)"
	    },{
	    	label:"Core java",
	    	data:[2,5,3,1,0,4,1],
	    	backgroundColor:"rgba(205,210,255,0.8)"
	    },{
	    	label:'Python',
	    	data:[5,6,8,4,6,5,7],
	    	backgroundColor:"rgba(0,255,255,0.5)"
	    },{
	    	label:'C#',
	    	data:[2,1,3,2,1,3,2],
	    	backgroundColor:"rgba(45,67,34,0.5)"
	    },{
	    	label:'PHP',
	    	data:[1,0,2,0,1,0,3],
	    	backgroundColor:"rgba(67,189,230,0.5)"
	    },{
	    	label:'Golang',
	    	data:[9,5,6,7,8,6,7],
	    	backgroundColor:"rgba(4,150,150,0.5)"
	    }


	    ]
	  }
	});
</script>
</body>
</html>

