{% extends "base.html" %}
{% load staticfiles %}
<!--CSS block-->
{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'py_app/css/login.css' %}">
{% endblock %}

<!--Javascript block-->
{% block js_block %}
<script type="text/javascript" src="{% static 'py_app/js/login.js' %}"></script>
{% endblock %}

{% block content %}
 <!--    <div class="container"> -->
        <div class="card card-container">
            <!-- 
            <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> 
            -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" action="" method="POST">{% csrf_token %}
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
 
 <!-- </div> -->
 {% endblock %}