{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

  {% block css_block %}

		  <style>
		  body{
		  background-color:rgba(0,200,0,0.1);
		  }
		  </style>
  {% endblock %}

{% block fblike %}

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-8 col-md-8 col-sm-offset-2">
		<form action="" class="form-inline" method="GET">{% csrf_token %}
		<div class="form-group">
	      <input type="text" name="q"  value="{{request.GET.q}}" class="form-control" placeholder="Enter search keywords">
	    </div>
		<input type="submit"  role="button" class="btn btn-primary" value="Search">
		</form>

  </div>
</div>
<br>

{% if posts %}
{% for post in posts %}	
<div class="row">
  <div class="col-sm-8 col-md-8 col-sm-offset-2">
    <div class="thumbnail">
    	{% if post.image %}
      <img src="{{post.image.url}}" alt="{{ post.title}}">
      {% else %}
      <img src="{% static 'py_app/img/ecommerce.jpg' %}" alt="{{ post.title}}">
      {% endif %}
      <div class="caption">
        <h3 style='color:green'>{{ post.title }} <small> {{post.created|timesince}} ago </small></h3>
        <h2 style="color:gray">
        {% if post.profile_image %} 
        	<img src="{{post.profile_image.url}}" style="display: inline-block;" class="img-responsive img-circle" width="30px"/> 
        {% else %}
        	<img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/profle-512.png" class="img-responsive" width="30px" style="display: inline-block;"/> 
        {% endif %}
        {{post.posted_by}}</h2>
       <hr>
        <p>{{ post.description|linebreaks|safe|truncatechars:90 }}</p>
        <p><a href="{{ post.get_absolute_path }}" class="btn btn-primary" role="button">View full </a> 
      </div>
    </div>
  </div>
</div>

{% endfor %}
{% else %}
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
  <center><h4 style="color:#990022;font-weight: bold;font-family: helvetica">We don't have any article with this search keywords</h4></center>
  <img class="img-responsive" src="https://atendesigngroup.com/sites/default/files/styles/very_large/public/404-not-found_0.png?itok=uz6ItckW" width="100%" alt="404_Error">

</div>
</div>
{% endif%}
<hr>
<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<div class="pagination">
		    <span class="step-links">
		        {% if posts.has_previous %}
		            <a href="?page={{ posts.previous_page_number }}">previous</a>
		        {% endif %}

		        <span class="current">
		            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
		        </span>

		        {% if posts.has_next %}
		            <a href="?page={{ posts.next_page_number }}">next</a>
		        {% endif %}
		    </span>
		</div>		
	</div>
</div>
{% endblock %}


