{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

  {% block css_block %}
  <style>
  body{
  background-color: rgba(0,200,0,0.1);
  }
  #id_title,#id_description{
  		background-color: rgba(0,200,0,0.2);
  }
  #id_title:focus,#id_description:focus,#id_posted_by{
  		background-color: rgba(0,255,0,0.2);

  		font-family: helvetica;
  }
  #id_profile_image{
  	color:navy;
  }
  </style>
  {% endblock %}

  {% block js_block %}
	  <script type="text/javascript">
	  $(document).ready(function(){
	  	$("#id_title").attr("placeholder" , "Enter title for your post");
	  	$("#id_description").attr("placeholder" , "Enter description");
	  	$("#id_posted_by").attr("placeholder" , "Enter your fullname please");
	  	$("#id_search_keywords").attr("placeholder" , "eg. ecommerce, programming, home, nature, baby, javascript, python etc.");
	  });
	  </script>
  {% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<center>{% if message %}
				{{message|safe}}
			{% endif %}
			</center>

			<form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
				{{ form|crispy}}
				<input type="submit" class="btn btn-success" role="button" value="Post">
			</form>
			<hr>
		</div>
	</div>
{% endblock %}