.img_media{
		width:70%;
}

span{
	font-size: 12px;
	font-weight: bold;
	font-family: helvetica;
}
span.span_label{
		color:green;
}

span.span_value{
	color:gray;
}

h4.h4_image_title{
	color:gray;
	font-size: 25px;
	font-weight: bold;
	font-family: helvetica;
}