{% extends 'base.html' %}
{% load staticfiles %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'py_app/css/auth_users.css' %}">
{% endblock %}

{% block content %}
<table class="table table-hover">
		    <thead>
		      <tr>
		        <th>Firstname</th>
		        <th>Lastname</th>
		        <th>Roll Number</th>
		        <th>Profile link</th>
		      </tr>
		    </thead>
		    
		    <tbody>
		    {% for user in users %}
		      <tr>
		        <td>{{user.firstname}}</td>
		        <td>{{user.lastname}}</td>
		        <td>{{user.email}}</td>
		        <td><a href="{{user.get_absolute_url}}">view</a></td>
		      </tr>
		    {% endfor %}
		    </tbody>
</table>
{% endblock %}